{% load static %}
<footer class="pc-footer">
    <div class="footer-wrapper container-fluid mx-10">
        <div class="grid grid-cols-12 gap-1.5">
            <div class="col-span-12 sm:col-span-6 my-1">
                <p class="m-0"></p>CRM &#9829; Create by <a href="#"
                    class="text-theme-bodycolor dark:text-themedark-bodycolor hover:text-primary-500 dark:hover:text-primary-500"> Shivam kumar</a>
                <p></p>
            </div>
            <div class="col-span-12 sm:col-span-6 my-1">
                <ul
                    class="mb-0 ltr:sm:text-right rtl:sm:text-left *:text-theme-bodycolor dark:*:text-themedark-bodycolor hover:*:text-primary-500 dark:hover:*:text-primary-500">
                    <li class="inline-block max-sm:mr-2 sm:ml-2"><a
                            href="https://ableproadmin.com/tailwind/index.html">Home</a></li>
                    <li class="inline-block max-sm:mr-2 sm:ml-2"><a href="https://phoenixcoded.gitbook.io/able-pro/"
                            target="_blank">Documentation</a></li>
                    <li class="inline-block max-sm:mr-2 sm:ml-2"><a href="https://phoenixcoded.authordesk.app/"
                            target="_blank">Support</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="{% static 'js/plugins/apexcharts.min.js' %}"></script>
<script src="{% static 'js/widgets/new-orders-graph.js' %}"></script>
<script src="{% static 'js/widgets/new-users-graph.js' %}"></script>
<script src="{% static 'js/widgets/visitors-graph.js' %}"></script>
<script src="{% static 'js/widgets/overview-chart.js' %}"></script>
<script src="{% static 'js/widgets/income-graph.js' %}"></script>
<script src="{% static 'js/widgets/languages-graph.js' %}"></script>
<script src="{% static 'js/widgets/overview-product-graph.js' %}"></script>
<script src="{% static 'js/widgets/total-earning-graph-1.js' %}"></script>
<script src="{% static 'js/widgets/total-earning-graph-2.js' %}"></script>
<script src="{% static 'js/plugins/simplebar.min.js' %}"></script>
<script src="{% static 'js/plugins/popper.min.js' %}"></script>
<script src="{% static 'js/icon/custom-icon.js' %}"></script>
<script src="{% static 'js/plugins/feather.min.js' %}"></script>
<script src="{% static 'js/component.js' %}"></script>
<script src="{% static 'js/theme.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>